.main_back {
    width: auto;
    height: auto;

    border: 0.4rem solid black;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.article {
    font-size: 4rem;
    color: darkcyan;
}
