.layout_template {
    position: relative;

    /* background-color: rgb(129, 164, 200); */
    
    width: 100vw;
    height: 100vh;

    border: 7px solid black;

 
    display: flex; 
    

    /* overflow-y: hidden; */

}

.layout_template_center {
position: absolute;

width: 100vw;
height: 100vh;

margin: 0.1rem;
border: 0.4rem dashed rgb(221, 24, 24);


display: flex;
flex-direction: column;
align-items: center; 


}





.filter_container{
    position: relative;

    width: 10rem;
    height: 5rem;

    left: auto;
    right: auto;

    margin: 0.4rem;

    display: flex;
    /* flex-direction: column; */

    justify-content: center;
    align-items: center;

    gap: 0.7rem;



    border: 0.4rem double  rgb(145, 99, 215);
    /* flex-flow: row nowrap; */
    
}

.link_button{
    position: relative;

    display: inline;

    color: aliceblue;
    text-decoration: dashed;

}

.link_button > * {
     /* color: aliceblue;  */
    text-decoration:dotted;
}

.filter {
    /* position: relative; */
    width: 100px;
    height: 100px;

    display: inline-block;

    border: 0.2rem solid black;
    border-radius: 20%;
    /* background-color: ; */
}

.blckFltr {
    position:absolute;

    top: 6rem

}